<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Comment Id: <%= @comment.id %></h1>
    <p>
      With title: <%= @comment.cmnt %><br>
    </p>
    <p>Is Reported!</p>
  </body>
</html>
