<div id="<%= dom_id comment %>">
  <p>
    <%= comment.cmnt %>
  </p>
  <%=  button_to comment.likecs.count.to_s + ' Likes', post_comment_likecs_path(@post, comment), method: :post, :class => "btn btn-outline-dark btn-sm px-4 me-md-2 fw-bold sty mb-2" %>
</div>
