<div class="container-fluid p-4 ml-2 sty">
  <h1 class="sty display-4">Recent Posts</h1>
</div>
<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
  <% end %>
</div>
<%= link_to "New post", new_post_path, :class => "btn btn-outline-primary px-4 me-md-2 fw-bold ml-5" %>
