 <%= form_with model: [@suggestion.post, @suggestion, @suggestion.replies.build ], local: true do |form| %>
  <p>
    <%= form.label :reply %><br>
    <%= form.text_field :reply %>
  </p>
  <br/>
  <p>
    <%= form.submit 'Reply', :class => "btn btn-dark btn-sm px-4 me-md-2 fw-bold"%>
  </p>
<% end %>
